<header class="bg-light">
  <nav>
    <a class="d-inline-block p-2" routerLink='/'>Home</a>
    <a class="d-inline-block p-2" routerLink='/register' *ngIf=" a.firehouse.isLoggedOut ">Register</a>
    <a class="d-inline-block p-2" routerLink='/login' *ngIf=" a.firehouse.isLoggedOut ">Login</a>
    <a class="d-inline-block p-2" routerLink='/' (click)=" a.firehouse.userLogout() " *ngIf=" a.firehouse.isLoggedIn ">Logout</a>
    <a class="d-inline-block p-2" routerLink='/profile' *ngIf=" a.firehouse.isLoggedIn ">Profile Update</a>
    <a class="d-inline-block p-2" routerLink="/menu">Menu</a>


    <a class="p-2" href="/forum/discussion">Dicussion</a>
    <a class="p-2" href="/forum/qna">QnA</a>


    <span *ngIf=" a.firehouse.isLoggedIn ">
      Welcome, {{ a.firehouse.currentUser.email }}
    </span>
  </nav>
</header>
<router-outlet></router-outlet>
