service cloud.firestore {
  match /databases/{database}/documents {
    match /userProfile/{document=**} {
      allow read, write: if true;
    }
  }
  
    
}

