<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-5">
      <mat-card class="m-5">
        <mat-card-header class="text-center">
          <h2>Login</h2>
        </mat-card-header>
        <hr>
        <form class="w100" (ngSubmit)="onSubmit(login)" #login="ngForm">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" ngModel required>
            <mat-error>
              <p>please enter valid email</p>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" ngModel required minlength="6">
            <mat-error>
              <p>minimum of 6 characters</p>
            </mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
