<mat-toolbar color="primary">
  <nav class="nav m-3">
    <button mat-button [routerLink]="[ '/home' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</button>
    <!-- to be removed after finalizing user login / signup function -->
    <button mat-button [routerLink]="[ '/' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</button>
    <!-- <button mat-button [routerLink]="[ '/register' ]" routerLinkActive="active">Register</button> -->
    <button mat-button [routerLink]="[ '/forums' ]" routerLinkActive="active">Forums</button>
  </nav>
</mat-toolbar>