<mat-toolbar color="primary">
  <nav class="nav">
    <!-- to be removed after finalizing user login / signup function -->
    <button *ngIf="!auth.isLoggedIn" mat-button>
      Login
    </button>

    <!-- must not be visible when someone is not logged in -->
    <button *ngIf="auth.isLoggedIn" mat-button [routerLink]="[ '/home' ]" routerLinkActive="active">Home</button>
    <button *ngIf="auth.isLoggedIn" mat-button [routerLink]="[ '/forums' ]" routerLinkActive="active">Forums</button>
    <button *ngIf="auth.isLoggedIn" mat-button class="float-right" (click)="logout()">Logout</button>
  </nav>
</mat-toolbar>