<header>
  <h1>{{ firehouse.isLoggedIn ? 'Profile Update' : 'Register' }}</h1>
</header>

<main>
  <form (ngSubmit)=" onSubmit() ">
    <div>
      Email:
      <input name="email" [(ngModel)]="form.email" *ngIf=" firehouse.isLoggedOut ">
      <span *ngIf=" firehouse.isLoggedIn ">{{ form.email }}</span>
    </div>

    <div *ngIf=" firehouse.isLoggedOut ">
        Password:
        <input name="password" [(ngModel)]="form.password">
      </div>
      <div>
        Name:
        <input name="name" [(ngModel)]="form.name">
      </div>
      <div>
        Mobile
        <input name="mobile" [(ngModel)]="form.mobile">
      </div>

    <div>
      <button type="submit">
        {{ firehouse.isLoggedIn ? 'Update Profile' : 'Register' }}
      </button>
    </div>
  </form>
</main>
