@mixin forum-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-forum {
    header {
      background: mat-color($primary);

      .container {
        color: mat-color($primary, default-contrast);
      }
    }
  }
}
