<mat-toolbar class="d-flex justify-content-between bg-primary text-white">

  <h1>{{ a.t({en: 'Swallow PWA CMS Project', ko: '왕초보 앱 개발 - PWA CMS 프로젝트'}) }}</h1>
  <mat-icon>menu</mat-icon>

</mat-toolbar>
<h1></h1>
<h3>{{ a.t({en: 'Code name: baby swallow', ko: '프로젝트명: 아기 제비'}) }}</h3>
<ul>
  <li>
    <h2><a href="/unleashed">Unleashed's Home</a></h2>
  </li>
  <li>
    <h2><a routerLink="/unleashed/material">Unleashed's Material Page</a></h2>
  </li>
  <li>
    <h2><a routerLink="../jun">Jun's Page</a></h2>
  </li>

  <li>
    <h2><a routerLink="/bogz">Bogz's Page</a></h2>
  </li>
</ul>

<ul>
  <li class="text" *ngFor="let item of a.s.items | async">
    {{item.name}}
  </li>
</ul>
