<div class="my-5">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <p class="text-center">
          <b>
            {{ action ? 'LOGIN IN TO AN EXISTING ACCOUNT' : 'REGISTER A NEW ACCOUNT' }}
          </b>
        </p>
      </div>

      <div class="card-body form" (ngSubmit)="onSubmit()">

        <mat-form-field>
          <input matInput placeholder="E-Mail" [(ngModel)]="userForm.email">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="userForm.password">
        </mat-form-field>

        <div *ngIf="!action">

          <mat-form-field>
            <input matInput matInput placeholder="Name" [(ngModel)]="userForm.name">
          </mat-form-field>
          <div class="p-3 mx-auto form-option text-center">
            <mat-radio-button class="m-2" (click)="gender('M')" checked>Male</mat-radio-button>
            <mat-radio-button class="m-2" (click)="gender('F')">Female</mat-radio-button>
          </div>

          <mat-form-field>
            <input matInput matInput placeholder="Nickname" [(ngModel)]="userForm.nickname">
            <mat-hint>Optional</mat-hint>
          </mat-form-field>

          <p>
            <mat-form-field>
              <input matInput [matDatepicker]="dp3" placeholder="Birtdate" disabled [(ngModel)]="userForm.birthday">
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              <mat-hint>Optional</mat-hint>
            </mat-form-field>
          </p>

          <mat-form-field>
            <input matInput matInput placeholder="Mobile Number" [(ngModel)]="userForm.mobile">
            <mat-hint>Optional</mat-hint>
          </mat-form-field>

        </div>

      </div>

      <div class="card-footer text-center">
        <button mat-button color="primary" (click)="onSubmit()">
          {{ action ? 'LOGIN' :'SUBMIT' }}
        </button>
        <button mat-button color="warn" (click)="action = !action">
          {{ action ? 'REGISTER' : 'LOG IN' }}
        </button>
      </div>

    </div>
  </div>
</div>